Django==1.8.3
pymysql
sphinx
django-braces
django-extra-views
django-floppyforms
djangorestframework
django-filter
django-admin2
django-admin-bootstrapped
django-bootstrap3
markdown
django-guardian
django-extensions
django-backward
alipay
django-simple-history
django-grappelli
FeedParser
redis==2.10.3
gunicorn==19.3.0
simplejson
pyexcel-xls