<footer id="footer">
				<section class="section top">
						<div class="container">
								<div class="row">
										<div class="col-md-4">
												<div class="widget">
														<h4>About us</h4>
														<p>Lorem ipsum dolor sit amet, Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet. Lorem ipsum dolor sit amet. Maecenas sed diam eget risus varius blandit sit amet non magna. Mattis purus sit amet fermentum.
														</p>
												</div>
										</div>
										<div class="col-md-4">
												<h4>Tags</h4>
												<div class="tagcloud">
														<a href="#">Features</a>
														<a href="#">Inspiration</a>
														<a href="#">Showcase</a>
														<a href="#">Graphic Design</a>
														<a href="#">Illustration</a>
														<a href="#">Design</a>
														<a href="#">Web Design</a>
														<a href="#">Video</a>
														<a href="#">ART</a>
														<a href="#">New Work</a>
												</div>
										</div>
										<div class="col-md-4">
												<div class="widget">
														<h4>Contact Info</h4>
														<div class="contacts">
																<div class="contacts-item"> 
																		<i class="fa fa-map-marker"></i> 
																		<span class="contacts-item-value">194/4  Amphitheatre Parkway, Mountain View, <br>CA 94043, United States</span> 
																</div>
																<div class="contacts-item">
																		<i class="fa fa-phone"></i>
																		<span class="contacts-item-value">+123 456 789</span>
																</div>
																<div class="contacts-item">
																		<i class="fa fa-envelope-o"></i>
																		<span class="contacts-item-value"><a href="mailto:info@example.com">info@example.com</a></span>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</section>
				<section class="section bottom">
						<div class="container">
								<div class="row">
										<div class="col-md-6">
												<div class="copyright">&copy; 2014 All rights reserved. <a href="http://themeforest.net/user/zicedemo/">Capet Theme by Zicedemo</a></div>
										</div>
										<div class="col-md-6">
												<ul class="footer-link pull-right">
														<li><a href="#">Privacy policy</a></li>
														<li><a href="#">Terms &amp; Conditions</a></li>
												</ul>
										</div>
								</div>
						</div>
				</section>
		</footer>