<footer id="footer">
				<section class="section top">
						<div class="container">
								<div class="row">
										<div class="col-md-4">
												<div class="widget">
														<h4>关于我们</h4>
														<p>如今的智能设备已经成为时尚标签，但是在母婴领域，智能设备的普及率却非常低。最近笔者了解到，国内一家科技公司研发了一款跨界体验的智能婴儿推车，号称“全球首款互联网智能推车”，该研发团队表示婴儿推车不应该只作为宝宝的出行工具，它应该能为宝宝做的更多，而且父母带娃太枯燥，三个柚子致力于让辣妈潮爸的带娃“更轻松、更有趣”。
														</p>
												</div>
										</div>
										<div class="col-md-4">
												<h4>标签</h4>
												<div class="tagcloud">
														<a href="#">婴儿车</a>
														<a href="#">智能</a>
														<a href="#">时尚</a>
														<a href="#">安全</a>
														<a href="#">高颜值</a>
														<a href="#">APP操控</a>
														<a href="#">智能体重秤 </a>
														<a href="#">智能身高管家</a>
														<a href="#">智能出行里程</a>
														<a href="#">育儿云社区</a>
												</div>
										</div>
										<div class="col-md-4">
												<div class="widget">
														<h4>联系信息</h4>
														<div class="contacts">
																<div class="contacts-item"> 
																		<i class="fa fa-map-marker"></i> 
																		<span class="contacts-item-value">上海市真南路1370号 <br></span>
																</div>
																<div class="contacts-item">
																		<i class="fa fa-phone"></i>
																		<span class="contacts-item-value">+(86) 13636499021</span>
																</div>
																<div class="contacts-item">
																		<i class="fa fa-envelope-o"></i>
																		<span class="contacts-item-value"><a href="mailto:christian_xia@163.com">christian_xia@163.com</a></span>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</section>
				<section class="section bottom">
						<div class="container">
								<div class="row">
										<div class="col-md-6">
												<div class="copyright">&copy; 2016 All rights reserved. <a href="http://metastudio.com.cn">Powered by MetaStudio</a></div>
										</div>

{#                                        <div>#}
{#                                             #}
{#                                        </div>#}
										<div class="col-md-6">
												<ul class="footer-link pull-right">
                                                    <li>沪ICP备16009803号-1</li>
{#														<li><a href="#">隐私政策</a></li>#}
{#														<li><a href="#">条款 &amp; 条件</a></li>#}
												</ul>
										</div>
								</div>
						</div>
				</section>
		</footer>