<footer id="footer">
				<section class="section top" style="padding-top: 20px;padding-bottom: 10px;">
						<div class="container">
								<div class="row">
										<div class="col-md-4">
												<div class="widget">
														<h4>关于我们</h4>
														<p>三个柚子全自主研发的互联网智能婴儿推车，主要针对宝宝的健康、成长、生活这三个维度做深度的设计，
															同时针对父母与宝宝的亲子体验做了创新设计，主要提供健康管家、生活管家、亲子新体验、成长新体验等服务，
															用户将通过连接婴儿推车与移动端APP享受全新极致的育儿体验。
														</p>
												</div>
										</div>
										<div class="col-md-4">
												<h4>标签</h4>
												<div class="tagcloud">
														<a href="#">婴儿推车</a>
														<a href="#">智能</a>
														<a href="#">时尚</a>
														<a href="#">高景观</a>
														<a href="#">舒适</a>
														<a href="#">智能APP</a>
														<a href="#">智能体重秤 </a>
														<a href="#">身高管家</a>
														<a href="#">智能出行</a>
														<a href="#">育儿云社区</a>
												</div>
										</div>
										<div class="col-md-4">
												<div class="widget">
														<h4>联系信息</h4>
														<div class="contacts">
																<div class="contacts-item"> 
																		<i class="fa fa-map-marker"></i> 
																		<span class="contacts-item-value">上海市普陀区真南路1370号 <br></span>
																</div>
																<div class="contacts-item">
																		<i class="fa fa-phone"></i>
																		<span class="contacts-item-value">021-6698-9233</span>
																</div>
																<div class="contacts-item">
																		<i class="fa fa-envelope-o"></i>
																		<span class="contacts-item-value"><a href="mailto:christian_xia@163.com">joan@3pomelos.com</a></span>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</section>
				<section class="section bottom">
						<div class="container">
								<div class="row">
										<div class="col-md-6">
												<div class="copyright">&copy; 2016 All rights reserved. </div>
										</div>

{#                                        <div>#}
{#                                             #}
{#                                        </div>#}
										<div class="col-md-6">
												<ul class="footer-link pull-right">
                                                    <li>沪ICP备16009803号-1</li>
{#														<li><a href="#">隐私政策</a></li>#}
{#														<li><a href="#">条款 &amp; 条件</a></li>#}
												</ul>
										</div>
								</div>
						</div>
				</section>
		</footer>

<script type="text/javascript">
    $(function(){
        var checked = false;
        $("#navigation>li>a").each(function(){
            if(location.href.indexOf($(this).attr("href"))>-1){
                $(this).parent("li").addClass("active");
                checked = true;
            }
        })  ;
        if(!checked){
            $("#child_nav").addClass("active");
        }
    });
</script>