{% extends "front/common/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block css %}

{% endblock %}
{% block content %}
		<section id="header-space"></section>
		<section id="headline">
				<div class="container  text-center">
					<h3 style="font: 20px tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', arial, SimHei, Verdana, sans-serif;">{% trans "育儿知识" %}</h3>
				</div>
		</section>
		<section class="section">
				<div class="container  text-center">
					<div class="col-md-12">
                        <div class="clearfix down">

                            育儿知识详情
		                </div>
		    						</div>
				</div>
		</section>

{#		<section class="section bg-theme-inverse">#}
{#				<div id="owl-demo" class="owl-carousel carousel-white">#}
{#						<div>#}
{#							<div class="col-md-6   col-md-offset-3">#}
{#									<blockquote class="text-center"> Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim. </blockquote>#}
{#									<p class="text-center">Zicedemo - <em> Web designer , Programme Director</em></p>#}
{#							</div>#}
{#						</div>#}
{#						<div>#}
{#							<div class="col-md-6   col-md-offset-3">#}
{#									<h3 class="blockquote text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo.</h3>#}
{#									<p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>#}
{#							</div>#}
{#						</div>#}
{#						<div>#}
{#							<div class="col-md-6   col-md-offset-3">#}
{#									<blockquote class="text-center"> Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world. </blockquote>#}
{#									<p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>#}
{#							</div>#}
{#						</div>#}
{#				</div>#}
{#		</section>	#}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "plugins/isotope/isotope.js" %}"></script>	
<script type="text/javascript">
	$(function() {

	// Initialize box isotope 
        var $container= $('.mosaic');
        var $filter= $('.portfolio-filter');

	$container.isotope({
			filter : '*',
			layoutMode : 'fitRows',
			animationOptions : {  duration : 750, easing : 'linear' }
	}); 
        $filter.find('a').click(function() {
				var selector = $(this).attr('data-filter');
				$filter.find('a').removeClass('active');
				$(this).addClass('active');
				$container.isotope({ 
					filter: selector,
					animationOptions   : { animationDuration  : 750, easing: 'linear',   queue: false  }
				});
				return false;
        }); 
	}); 

</script>
{% endblock %}