{% extends "front/common/base.html" %}
{% load staticfiles %}
{% block css %}

{% endblock %}
{% block content %}
		
		<section id="header-space"></section>
		<section class="section parallex">
			<section id="headline" class="bg-transparent">
					<div class="container color-white text-center">
						<h3><strong>联系</strong> 我们</h3>
					</div>
			</section>
		</section>	
		<section class="section bg-gray-lighter bg-map">
				<div class="container" >
						<div class="row">
								<div class="col-md-6">
										<div class="contact-form">
												
												<h3 class="animated fast" data-effect="fadeInDown"><strong>与我们 </strong>保持联系</h3>
												<hr>
												<p>如对我们的产品或服务有任何疑问，请填写联系表格。请尽可能详细地填写表格，以便我们更好地为您服务。感谢您提供的意见和建议。</p>
												<br>
												<form action="/save_contact" method="post" class="frmContact row">
                                                    {% csrf_token %}
														<div class="col-md-6">
														<h5>您的姓名?</h5>
														<input id="name" name="name" type="text" class="form-control" >
														<br>
														</div>
														<div class="col-md-6">
														<h5>您的电话?</h5>
														<input id="email" name="email" type="text" class="form-control" >
														<br>
														</div>
														<div class="col-md-12">
														<h5>消息内容</h5>
														<textarea id="content" name="content" class="form-control"></textarea>
														<br>
														<button name="" type="submit" class="btn btn-theme-inverse">发送消息</button>
														
														</div>
												</form>
												<br>
										</div>
								</div>
								<div class="col-md-6">
										<h3 class="animated fast" data-effect="fadeInUp"><strong>联系</strong> 信息</h3>
										<hr>
										<div class="contact-info">
										<p><strong>地址:</strong></p>
										<p> 上海市真南路1370号</p>
										<br>
										<p><strong>技术支持电话:</strong></p>
										<p><i class="fa fa-phone"></i> +(86) 13636499021</p>
										<br>
										<p><strong>邮箱:</strong></p>
										<p><i class="fa fa-envelope-o"></i> <a href="mailto:christian_xia@163.com">christian_xia@163.com</a></p>
                                            <p><i class="fa fa-envelope-o"></i> sangeyouzi_public@163.com</p>
										<hr>
										<p>期待您的来电和邮件。</p>
										</div>
								</div>
						</div>
				</div>
		</section>	
		
{#		<section class="section">#}
{#				<div class="container text-center">#}
{#					<h2 class="animated fast" data-effect="fadeInUp"><strong>WORK</strong> Station Office  Map</h2>#}
{#				</div>#}
{#		</section>#}
{#		<section id="map-title" class="overflow">#}
{#				<div class="container">#}
{#						<div class="row">#}
{#								<div class="col-md-12  text-center">#}
{#									<p><strong>上海 </strong> / 中国</p>#}
{#								</div>#}
{#						</div>#}
{#				</div>#}
{#		</section>#}
{#		<section id="map"></section>#}

		
{% endblock %}
