{% extends "front/common/base.html" %}
{% load staticfiles %}
{% block css %}

{% endblock %}
{% block content %}
		
		<section id="header-space"></section>
		<section class="section parallex">
			<section id="headline" class="bg-transparent">
					<div class="container color-white text-center">
						<h3><strong>Contact</strong> Us</h3>
					</div>
			</section>
		</section>	
		<section class="section bg-gray-lighter bg-map">
				<div class="container" >
						<div class="row">
								<div class="col-md-6">
										<div class="contact-form">
												
												<h3 class="animated fast" data-effect="fadeInDown"><strong>GET IN </strong>Touch with Us</h3>
												<hr>
												<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
												<br>
												<form action="#" method="post" class="frmContact row">
														<div class="col-md-6">
														<h5>Your Name?</h5>
														<input id="txtName" name="txtName" type="text" class="form-control" >
														<br>
														</div>
														<div class="col-md-6">
														<h5>Your Email?</h5>
														<input id="txtEmail" name="txtEmail" type="text" class="form-control" >
														<br>
														</div>
														<div class="col-md-12">
														<h5>Message to us</h5>
														<textarea id="txtText" name="txtText" class="form-control"></textarea>
														<br>
														<button name="" type="button" class="btn btn-theme-inverse">Send Message</button>
														
														</div>
												</form>
												<br>
										</div>
								</div>
								<div class="col-md-6">
										<h3 class="animated fast" data-effect="fadeInUp"><strong>CONTACT</strong> Information</h3>
										<hr>
										<div class="contact-info">
										<p><strong>Address:</strong></p>
										<p> No.28 - 63739 street Morlem ipsum City, Country</p>
										<br>
										<p><strong>Phone:</strong></p>
										<p><i class="fa fa-phone"></i> + 1 (234) 567 8901</p>
										<br>
										<p><strong>Email:</strong></p>
										<p><i class="fa fa-envelope-o"></i> support@yoursite.com</p>
										<hr>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
										</div>
								</div>
						</div>
				</div>
		</section>	
		
		<section class="section">
				<div class="container text-center">
					<h2 class="animated fast" data-effect="fadeInUp"><strong>WORK</strong> Station Office  Map</h2>
				</div>
		</section>
		<section id="map-title" class="overflow">
				<div class="container">
						<div class="row">
								<div class="col-md-12  text-center">
									<p><strong>City </strong> / Country</p>
								</div>
						</div>
				</div>
		</section>
		<section id="map"></section>

		
{% endblock %}
