{% extends "front/common/base.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <style>
        #round360 img {
            width: 640px;
            height: 378px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -189px;
            margin-left: -320px;
        }

        #round360 #bg {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            filter: alpha(opacity:60);
            opacity: 0.6;
            background: black;
            z-index: 1;
        }

        #round360 #prog {
            width: 324px;
            height: 40px;
            background: url({% static "img/pomelo/product0/bar.png" %}) no-repeat 0 20px;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -162px;
            font-family: arial;
            font-size: 12px;
            color: #fff;
            text-align: center;
        }

        #round360 #prog span {
            font-family: "宋体";
        }

        #round360 #bar {
            width: 0%;
            height: 16px;
            background: url({% static "img/pomelo/product0/bar_line.gif" %}) repeat-x;
            overflow: hidden;
            position: absolute;
            bottom: 2px;
            left: 2px;
        }

        .d6-3d-product-explorer.bg {
        {#    width: 537px;#}{#    height: 110px;#}
        }

        .d6-3d-product-explorer.bg .bg-left div, .d6-3d-product-explorer .bg .bg-right div {
            width: 537px;
            height: 110px;
            background-image: url({% static  "img/d3_left.png" %});
        }

        .d6-3d-product-explorer.bg .bg-right div {
            width: 537px;
            height: 110px;
            background-image: url({% static  "img/d3_left.png" %});
        }

        #myCar {
            margin: 100px 0 0 -200px;
        {#        zoom:0.9;#}
        }

        .youku {
            position: absolute;
            right: -600px;
            top: 140px;
        }



    figure {
    width: 280px;
height: 225px;
position: absolute;
top: 80px;
right: -500px;
margin-top: 80px;
}


    </style>
{% endblock %}
{% block content %}
    <section id="header-space"></section>

    <section class="section bg-darkorange">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated" data-effect="fadeInDown">
                    <h1 class="highlight-title" style="color:#ccc"><strong>三个柚子</strong>智能推车</h1>
                    {#                                    <div id="round360">#}
                    {#                                        <img id="img1" src="{% static "img/pomelo/product0/miaov (0).jpg" %}" />#}
                    {#<div id="bg"></div>#}
                    {#<div id="prog">#}
                    {#	360度全景展示 载入中......<span>0%</span>#}
                    {#	<div id="bar"></div>#}
                    {#</div>#}
                    {##}
                    {#                                    </div>#}
                    <div class="bg d6-3d-product-explorer">

                        <div id="myCar" style="height: 336px;width: 750px;"></div>
                        {#								</div>#}
                        {#								<div class="col-md-6 text-center">#}
                        {#										<div class="img-stack" style="margin-top:0px; margin-bottom:-28px">#}


                            <figure>
            <img src="{% static "img/pomelo/air-indoor-b.png" %}" alt="" height="225" width="280">
        </figure>
                        <ul class="video-item">
                            <li class="play backto backto01">
                                <span></span>
                            </li>


                            <li class="home backto backto02">
                                <a href="{% static "img/pomelo/description.pdf" %}" target="_blank">
                                <span></span>
                                    </a>
                            </li>
{#                            <li class="home backto backto02">#}
{#                                <span></span>#}
{#                            </li>#}
                            <!--<li class="link backto backto03">
                                <a href="/preorder">
                                    <samp>空气果</samp><br/><em>免单计划</em></a>
                            </li>-->
                        </ul>

                        {#                                            <embed src="http://player.youku.com/player.php/sid/XMTU5MjYwNjMxMg==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" class="youku" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>#}
                        {#												<img src="{% static "img/pomelo/main.png" %}" alt="" class="img-responsive img-bottom  animated" data-effect="slideInRight">#}
                        {#												<img src="{% static "img/theme-pics/fl2.png" %}" alt="" class="img-responsive img-bottom  bottom-over animated" data-effect="slideInRight" data-start="300">#}
                        {#												<img src="{% static "img/theme-pics/fl3.png" %}" alt="" class="img-responsive img-bottom  bottom-over animated" data-effect="fadeInUp" data-start="1200">#}
                        {#										</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="slide" class="bg-gray-lighter">

        <div class="tp-banner-container">
            <div class="tp-banner" id="slide_detail1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="3" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        {#                                    <img src="{% static "img/pomelo/1920.jpg" %}" alt="slidebg1" class="bg-theme-inverse">#}
                        <img src="{% static "img/detail/detail1.jpg" %}" alt="slidebg1" class="bg-theme-inverse">

                    </li>
                    <li data-transition="slideleft" data-slotamount="3" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail2.jpg" %}" alt="slidebg1" data-bgfit="cover"
                             data-bgposition="left top" data-bgrepeat="no-repeat">
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="3" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail3.jpg" %}" style='background-color:#b2c4cc' alt=""
                             data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                    </li>


                </ul>
                {#							<div class="tp-bannertimer tp-bottom"></div>#}
            </div>
        </div>
    </section>

    <section id="slide" class="bg-gray-lighter">

        <div class="tp-banner-container">
            <div class="tp-banner" id="slide_detail2">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="4" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail21.jpg" %}" alt="slidebg1" class="bg-theme-inverse">

                    </li>
                    <li data-transition="slideleft" data-slotamount="4" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail22.jpg" %}" alt="slidebg1" data-bgfit="cover"
                             data-bgposition="left top" data-bgrepeat="no-repeat">
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="4" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail23.jpg" %}" style='background-color:#b2c4cc' alt=""
                             data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                    </li>

                                        <li data-transition="slideleft" data-slotamount="4" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail24.jpg" %}" style='background-color:#b2c4cc' alt=""
                             data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                    </li>


                </ul>
                {#							<div class="tp-bannertimer tp-bottom"></div>#}
            </div>
        </div>
    </section>

    <section id="slide3" class="bg-gray-lighter">

        <div class="tp-banner-container">
            <div class="tp-banner" id="slide_detail3">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="1" data-masterspeed="500">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail31.jpg" %}" alt="slidebg1" class="bg-theme-inverse">

                    </li>


                </ul>
                {#							<div class="tp-bannertimer tp-bottom"></div>#}
            </div>
        </div>
    </section>

    <section id="slide4" class="bg-gray-lighter">

        <div class="tp-banner-container">
            <div class="tp-banner" id="slide_detail4">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="1" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "img/detail/detail41.jpg" %}" style='background-color:#b2c4cc' alt=""
                             data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                    </li>


                </ul>
                {#							<div class="tp-bannertimer tp-bottom"></div>#}
            </div>
        </div>
    </section>


    {#		<section class="section">#}
    {#				<div class="container">#}
    {#						<div class="row">#}
    {#								<div class="text-center">#}
    {#										<h2> <strong>HTML5</strong> &amp; CSS3 </h2>#}
    {#										<h3 class="sub-title animated" data-effect="fadeInRight">Premium admin and front end template</h3>#}
    {#								</div>#}
    {#						</div>#}
    {#						<div class="row">#}
    {#								<div class="col-md-4 col-sm-12">#}
    {#										<article class="boxIcon animated" data-effect="fadeInLeft">#}
    {#											<a href="#">#}
    {#												<span>#}
    {#													<img class="img-circle img-responsive" src="{% static "img/team/team-corporate-1.jpg" %}" alt="">#}
    {#												</span>#}
    {#												<h2>HTML5 &amp; CSS3</h2>#}
    {#												<p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>#}
    {#											</a>#}
    {#										</article>#}
    {#								</div>#}
    {#								<div class="col-md-4 col-sm-12">#}
    {#										<article class="boxIcon animated" data-effect="fadeInUp">#}
    {#											<a href="#">#}
    {#												<span>#}
    {#													<img class="img-circle img-responsive" src="{% static "img/team/team-corporate-2.jpg" %}" alt="">#}
    {#													<!--<i class="fa fa-laptop"></i>-->#}
    {#												</span>#}
    {#												<h2>Clean design</h2>#}
    {#												<p>Elegant layouts that help you organize your content in the best way</p>#}
    {#											</a>#}
    {#										</article>#}
    {#								</div>#}
    {#								<div class="col-md-4 col-sm-12">#}
    {#										<article class="boxIcon animated" data-effect="fadeInRight">#}
    {#											<a href="#">#}
    {#												<span>#}
    {#													<img class="img-circle img-responsive" src="{% static "img/team/team-corporate-3.jpg" %}" alt="">#}
    {#												</span>#}
    {#												<h2>Responsive design</h2>#}
    {#												<p>Compatible with various desktop, tablet, and mobile devices.</p>#}
    {#											</a>#}
    {#										</article>#}
    {#								</div>#}
    {#						</div>#}
    {#				</div>#}
    {#		</section>#}



    {#		<section class="section">#}
    {#				<div class="container">#}
    {#					<div class="col-md-12 text-center animated" data-effect="fadeInUp">#}
    {#							<h2>Our <strong>services</strong></h2>#}
    {#							<h3 class="sub-title">We do a lot of things, we put them inside squared boxes</h3>#}
    {#					</div>#}
    {#					<div class="col-md-6 text-center">#}
    {#						<div class="img-stack">#}
    {#							<img src="{% static "img/theme-pics/ser2.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn" data-start="300">#}
    {#							<img src="{% static "img/theme-pics/ser3.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn" data-start="600">#}
    {#							<img src="{% static "img/theme-pics/ser6.png" %}" alt="" class="img-responsive animated" data-effect="shake" data-start="1200">#}
    {#						 	<img src="{% static "img/theme-pics/ser1.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn">#}
    {#							<img src="{% static "img/theme-pics/ser4.png" %}" alt="" class="img-responsive animated" data-effect="fadeInDown" data-start="900">#}
    {#							<img src="{% static "img/theme-pics/ser5.png" %}" alt="" class="img-responsive animated" data-effect="bounce" data-start="700">#}
    {#						 </div>#}
    {#					</div>#}
    {#					<div class="col-md-6">#}
    {#									<br>#}
    {#									<div class="service-item  animated" data-effect="fadeInDown">#}
    {#									<span class="fa-stack fa-3x">#}
    {#										<i class="fa fa-circle fa-stack-2x color-primary"></i>#}
    {#										<i class="fa fa-cog fa-stack-1x color-white"></i>#}
    {#									</span>#}
    {#											<h4>Identity &amp; Branding</h4>#}
    {#											<p>A beautiful product needs to be complemented with a great branding. Our#}
    {#													design team will help you create it</p>#}
    {#									</div>#}
    {#									<div class="service-item  animated" data-effect="fadeInRight">#}
    {#									<span class="fa-stack fa-3x">#}
    {#										<i class="fa fa-circle  fa-stack-2x  color-purple"></i>#}
    {#										<i class="fa fa-user fa-stack-1x color-white"></i>#}
    {#									</span>#}
    {#											<h4>User Experience</h4>#}
    {#											<p>At the heart of everything we do lies a great user experience. We take#}
    {#													pride in our interfaces and really think and test them through</p>#}
    {#									</div>#}
    {#									<div class="service-item  animated" data-effect="fadeInLeft">#}
    {#									<span class="fa-stack fa-3x">#}
    {#										<i class="fa fa-circle  fa-stack-2x color-darkorange"></i>#}
    {#										<i class="fa fa-camera fa-stack-1x color-white"></i>#}
    {#									</span>#}
    {#											<h4>Photography</h4>#}
    {#											<p>A beautiful product needs to be complemented with a great branding. Our#}
    {#													design team will help you create it</p>#}
    {#									</div>#}
    {#									<div class="service-item  animated" data-effect="fadeInUp">#}
    {#									<span class="fa-stack fa-3x">#}
    {#										<i class="fa fa-circle  fa-stack-2x color-theme"></i>#}
    {#										<i class="fa fa-file fa-stack-1x color-white"></i>#}
    {#									</span>#}
    {#											<h4>HTML5 / CSS3 </h4>#}
    {#											<p>A beautiful product needs to be complemented with a great branding. Our#}
    {#													design team will help you create it</p>#}
    {#									</div>#}
    {#					</div>#}
    {#				</div>#}
    {#		</section>#}

{#    <section class="section bg-inverse">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 animated" data-effect="pulse">#}
{#                    <h3><strong>现在购买还有柚子特惠价优惠</strong><br>#}
{#                        请不要错过哦 </h3>#}
{#                </div>#}
{#                <div class="col-md-6 text-center"><a class="btn btn-lg btn-theme-inverse animated"#}
{#                                                     data-effect="fadeInRight" title=""#}
{#                                                     href="https://sangeyouzi.tmall.com" target="blank"> 立即购买 </a></div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <div class="pop-bg"></div>
<div class="pop-wrap">
  <div class="close"></div>
  <div>
    <embed type="application/x-shockwave-flash" width="858" height="478" src="http://player.youku.com/player.php/sid/XMTU5MjYwNjMxMg==/v.swf" allowfullscreen="true" quality="high" allowscriptaccess="always" align="middle">

  </div>
</div>


{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static "js/3deye.min.js" %}"></script>
    <script type="text/javascript">
        var revapi;
        $(document).ready(function () {

            revapi = $('#slide_detail1').revolution({
                delay: 5000,
                startwidth: 1920,
                startheight: 1080,
                hideThumbs: 10,
                lazyLoad: "on",
                onHoverStop: "off",
                fullWidth: "on",
                forceFullWidth: "on"
            });

            $('#slide_detail2').revolution({
                delay: 9000,
                startwidth: 1920,
                startheight: 1080,
                hideThumbs: 10,
                lazyLoad: "on",
                onHoverStop: "off",
                fullWidth: "on",
                forceFullWidth: "on"
            });

            revapi = $('#slide_detail3').revolution({
                delay: 5000,
                startwidth: 1920,
                startheight: 1080,
                hideThumbs: 10,
                lazyLoad: "on",
                onHoverStop: "off",
                fullWidth: "on",
                forceFullWidth: "on"
            });

            revapi = $('#slide_detail4').revolution({
                delay: 5000,
                startwidth: 1920,
                startheight: 1080,
                hideThumbs: 10,
                lazyLoad: "on",
                onHoverStop: "off",
                fullWidth: "on",
                forceFullWidth: "on"
            });
        });	//ready


    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#myCar").vc3dEye({
                imagePath: "{% static "img/pomelo/product1/" %}",
                totalImages: 51,
                imageExtension: "png"
            });

            $(".play").click(function(){
                $(".pop-bg").show();
                $(".pop-wrap").show();
            });
            $(".close").click(function(){
                $(".pop-bg").hide();
                $(".pop-wrap").hide();
            });

        });
    </script>
    <!--[if IE 6]>
{#<script src="{% static "js/DD_belatedPNG_0.0.8a.js" %}" type="text/javascript"></script>#}
{#<script type="text/javascript">DD_belatedPNG.fix('div');</script>#}
{#<![endif]-->#}

    <script>

window.onload=function ()
{
	var SCALE=10;
	var oImg=document.getElementById('img1');
	var oTxt=document.getElementById('prog').getElementsByTagName('span')[0];
	var oBar=document.getElementById('bar');
	var aImg=[];
	var iImgCount=77;
	var iLoaded=0;
	var iNow=0;
	var i=0;
	//加载所有资源
	for(i=0;i<iImgCount;i++)
	{
		(function (i){
			var oNewImg=new Image();
			oNewImg.onload=function ()
			{
				oTxt.innerHTML=oBar.style.width=Math.ceil(100*iLoaded/iImgCount)+'%';
				oNewImg.onload=null;
                alert(oTxt)
				var oImg=document.createElement('img');
				oImg.src=this.src;
				oImg.style.display='none';
				document.body.appendChild(oImg);
				aImg[i]=oImg;
                console.log(oNewImg)
				if(++iLoaded==iImgCount)onLoad();
			};
			oNewImg.src='img/pomelo/product0/miaov ('+i+').jpg';
		})(i);
	}

	//效果
	function onLoad()
	{
		for(i=0;i<iImgCount;i++)if(!aImg[i])alert('资源加载失败，请刷新重试');
		var lastImg=null;
		document.getElementById('prog').style.display=document.getElementById('bg').style.display='none';
		document.body.removeChild(oImg);
		var body=document.body;
		oImg=null;
		var timer=null;
		var num=iNow;
		var speed=0;

		aImg[0].style.display='block';
		lastImg=aImg[0];

		document.onmousedown=function (ev)
		{
			var oEvent=ev||event;
			var startX=oEvent.clientX;
			var lastX=startX;

			if(body.setCapture)
			{
				body.onmousemove=onMove;
				body.onmouseup=onUp;

				body.setCapture();
			}
			else
			{
				document.onmousemove=onMove;
				document.onmouseup=onUp;
			}

			function onMove(ev)
			{
				var oEvent=ev||event;
				var i=-(oEvent.clientX-startX)/SCALE;

				num=(iNow+i+Math.abs(Math.floor(i/iImgCount))*iImgCount)%iImgCount;

				if(lastImg!=aImg[parseInt(num)])
				{
					lastImg.style.display='none';
					aImg[parseInt(num)].style.display='block';
					lastImg=aImg[parseInt(num)];
				}

				speed=-(oEvent.clientX-lastX)/SCALE;
				lastX=oEvent.clientX;

				return false;
			}

			function onUp()
			{
				this.onmousemove=null;
				this.onmouseup=null;

				if(body.releaseCapture)body.releaseCapture();

				iNow=num;

				startMove();
			}

			stopMove();

			return false;
		};

		function startMove()
		{
			timer=setInterval(function (){
				iNow=(iNow+speed+Math.abs(Math.floor(i/iImgCount))*iImgCount)%iImgCount;
				lastImg.style.display='none';
				aImg[parseInt(iNow)].style.display='block';
				lastImg=aImg[parseInt(iNow)];

				speed*=0.884;

				if(Math.abs(speed)<=1)
				{
					clearInterval(timer);
					speed=0;
				}
			}, 30);
		}

		function stopMove()
		{
			clearInterval(timer);
		}
	}
};
</script>
{% endblock %}