{% extends "front/common/base.html" %}
{% load staticfiles %}
{% block css %}

{% endblock %}
{% block content %}
		<section id="header-space"></section>
		<section id="headline">
				<div class="container  text-center">
					<h3>Our Services</h3>
				</div>
		</section>
		<section class="section"  style="padding-top:0">
				<div class="container ">
					<div class="col-md-12 text-center">
						<div class="img-stack">
							<img src="{% static "img/theme-pics/ser2.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn" data-start="300"> 
							<img src="{% static "img/theme-pics/ser3.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn" data-start="600"> 
							<img src="{% static "img/theme-pics/ser6.png" %}" alt="" class="img-responsive animated" data-effect="shake" data-start="1200">  
						 	<img src="{% static "img/theme-pics/ser1.png" %}" alt="" class="img-responsive animated" data-effect="bounceIn"> 
							<img src="{% static "img/theme-pics/ser4.png" %}" alt="" class="img-responsive animated" data-effect="fadeInDown" data-start="900"> 
							<img src="{% static "img/theme-pics/ser5.png" %}" alt="" class="img-responsive animated" data-effect="bounce" data-start="700"> 
						 </div>
					</div>
					<div class="col-md-12 text-center">
							<h3 class="sub-title animated fast" data-effect="fadeInUp">Service  Caplet Theme</h3>
							<h3 class="sub-title animated fast" data-effect="fadeInDown">We've Completed For Our Amazing Clients.</h3>
					</div>
				</div>
		</section>
		<section class="section bg-darkorange">
				<div class="container ">
					<div class="col-md-6">
									
									<div class="service-item text-right  animated" data-effect="fadeInLeft">
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle fa-stack-2x color-white"></i>
										<i class="fa fa-check fa-stack-1x color-inverse"></i>
									</span>
											<h4>Identity &amp; Branding</h4>
											<p>A beautiful product needs to be complemented with a great branding. Our
													design team will help you create it</p>
									</div>
									<div class="service-item text-right  animated" data-effect="fadeInLeft" data-start="300"> 
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle  fa-stack-2x color-white"></i>
										<i class="fa fa-inbox fa-stack-1x color-inverse"></i>
									</span>
											<h4>User Experience</h4>
											<p>At the heart of everything we do lies a great user experience. We take
													pride in our interfaces and really think and test them through</p>
									</div>
									<div class="service-item text-right  animated" data-effect="fadeInLeft" data-start="600">
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle  fa-stack-2x color-white"></i>
										<i class="fa fa-fire fa-stack-1x color-inverse"></i>
									</span>
											<h4>Photography</h4>
											<p>A beautiful product needs to be complemented with a great branding. Our
													design team will help you create it</p>
									</div>
					</div>
					<div class="col-md-6">
									<div class="service-item  animated" data-effect="fadeInRight">
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle fa-stack-2x color-white"></i>
										<i class="fa fa-cog fa-stack-1x color-inverse"></i>
									</span>
											<h4>Identity &amp; Branding</h4>
											<p>A beautiful product needs to be complemented with a great branding. Our
													design team will help you create it</p>
									</div>
									<div class="service-item  animated" data-effect="fadeInRight" data-start="300"> 
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle  fa-stack-2x  color-white"></i>
										<i class="fa fa-mobile fa-stack-1x color-inverse"></i>
									</span>
											<h4>User Experience</h4>
											<p>At the heart of everything we do lies a great user experience. We take
													pride in our interfaces and really think and test them through</p>
									</div>
									<div class="service-item  animated" data-effect="fadeInRight"  data-start="600">
									<span class="fa-stack fa-3x">
										<i class="fa fa-circle  fa-stack-2x color-white"></i>
										<i class="fa fa-hdd-o fa-stack-1x color-inverse"></i>
									</span>
											<h4>Photography</h4>
											<p>A beautiful product needs to be complemented with a great branding. Our
													design team will help you create it</p>
									</div>
					</div>
				</div>
		</section>
		<section class="section bg-darkorange overflow"  style="padding-top:0">
				<div class="container">
						<div class="row">
								<div class="col-md-12">
									<div class="img-stack" style="display:block">
										<img alt="" src="{% static "img/theme-pics/st1.png" %}" class="img-responsive animated" data-effect="fadeInUp">
										<img alt="" src="{% static "img/theme-pics/st2.png" %}" class="img-responsive img-bottom animated" data-effect="fadeInUp" data-start="300">
										<img alt="" src="{% static "img/theme-pics/st3.png" %}" class="img-responsive img-bottom animated" data-effect="fadeInUp" data-start="1200">
										<img alt="" src="{% static "img/theme-pics/st4.png" %}" class="img-responsive img-bottom animated" data-effect="fadeInUp" data-start="900">
										<img alt="" src="{% static "img/theme-pics/st5.png" %}" class="img-responsive img-bottom animated" data-effect="fadeInUp" data-start="600">
									</div>
								</div>
						</div>
				</div>
		</section>
		
		<section class="section">
				<div class="container ">
				<div id="owl-cilent" class="owl-carousel">
						<div><img src="{% static "photos_preview/cilent/logo-1.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-2.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-3.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-4.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-5.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-6.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-1.png" %}" class="img-responsive"></div>
						<div><img src="{% static "photos_preview/cilent/logo-2.png" %}" class="img-responsive"></div>
				</div>
				</div>
		</section>
	{% endblock %}